<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin User Registration</title>
    <-- Add your CSS styles and assets here --
</head>
<body>
    <h1>Admin User Registration</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Email address" required />
        <input type="password" name="password" placeholder="Password" required />
        <a href="#">Forgot password?</a>
        <input type="submit" value="Login" />
    </form>

    <div> 
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
    </div class="mt-4">
</body>
</html> -->


{% extends "adminlte/login.html" %}

{% block form %}
    <form method="post">
        {% csrf_token %}
        {{ form  }}
    </form>
{% endblock %}