{% extends "dashboard/base.html" %}
{% block title %}View Employee {% endblock title %}

{% load static %}
{% block body %}
<main>
    <div class="container-fluid px-4">

        <div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="col-sm-12">
                  <div class="bg-light rounded h-100 p-4">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="registrationModalLabel">Register Employees</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                        <div class="modal-body">

                            {% if form.errors %}
                                <ul class="errorlist">
                                    {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                          <form method="post">
                            {% csrf_token %}
                            
                            {{ form }}
          
                            
                            <!-- <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                                  aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                              </div>
                             </div> -->

                        
                            <button type="submit" class="btn btn-primary mt-3" >Add</button>
      
                          </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="modal-body">                        
                {% if messages %}
                    <div class="alert alert-success messages">
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
                        {% endfor %}
                    </div>
                {% endif %}
         </div>


          <div class="card mt-5">
            <blockquote class="blockquote text-center mt-5">
                <p class="mb-3">List of all employees in the system.</p>
                <footer class="blockquote-footer">Central Canteen <cite title="Source Title">Mile  91</cite></footer>
            </blockquote>

            <button type="button" class="btn btn-primary btn-sm mt-3 ms-auto" data-bs-toggle="modal" data-bs-target="#addEmployee">
                Add Employee
            </button>
            
            <div class="card-header" style="text-align: center;">
                <i class="fas fa-table me-1" style="margin-right: 5px;"></i>
                Manage Employee Records
            </div>

            
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>No</th>
                           
                            <th>Username</th>
                            <th>Email</th>
                           
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            
                            <th>Username</th>
                            <th>Email</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>

                        {% for admin_user in admin_users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                
                                <td>{{ admin_user.username}}</td>
                                <td>{{ admin_user.email}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock body %}