{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:ǓǏǏ"
        rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container-fluid p-0">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>
