{% extends 'base.html' %}

{% load static %}

{% block pro %}
	<!-- hero area -->
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p>Delicious Meals and Quality Service</p>
							<h1>Central Canteen Foods</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- end hero area -->
{% endblock %}

{% block content %}

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">

        <!-- Add this modal at the end of your HTML body -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this item?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                    </div>
                </div>
            </div>
        </div>

				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
                  <th class="product-remove" colspan="2">Action</th>
								</tr>
							</thead>
							<tbody>
                {% for item in cart_items %}
                
                    <tr class="table-body-row">

                        <td class="product-image"><img src="{{ item.food_item.image.url }}" alt="{{ item.food_item.name }} Image"></td>
                        <td class="product-name">{{ item.food_item.name }}</td>
                        <td class="product-price">Nle {{ item.food_item.price }}</td>
                        <td class="product-quantity">
                            <!-- <input type="number" placeholder="0"> -->
                            {{ item.quantity }}
                        </td>
                        <td class="product-total">{{ total_cost }}</td>

                        <td>
                            <form method="post" action="{% url 'canteen:delete_cart_item' item.id %}">
                                {% csrf_token %}
                                <div class="d-flex justify-content-center">
                                    <button class="btn border text-danger" type="submit">
                                        <i class="fas fa-trash fa-lg"></i>
                                        Delete
                                    </button>
                                </div>
                            </form>
                        </td>

                        <td>
                          <div class="d-flex justify-content-center">
                            <a href="{% url 'canteen:edit_cart_item' item.id %}">Edit</a>
                          </div>
                          
                        </td>
                      </tr>
 
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>     

				<div class="col-lg-4">

					 <div class="total-section">
              <table class="total-table">
                  <thead class="total-table-head">

                      <tr class="table-total-row">
                          <th>Total</th>
                          <th>Price</th>
                      </tr>

                  </thead>

                  <tbody>
                      <!-- <tr class="total-data">
                          <td><strong>Subtotal: </strong></td>
                          <td>Nle: {{ subtotal }}</td>
                      </tr> -->
      
                      <tr class="total-data">
                          <td><strong>Total: </strong></td>
                          <td>Nle: {{ total_cost }}</td>
                      </tr>
                  </tbody>

                  <p>Cash on Delivery</p>

              </table>
            
            <div class="cart-buttons">
              <form id="checkoutForm" action="{% url 'canteen:checkout' %}" method="post">
                  {% csrf_token %}
          
                  <div class="payment-options row">
                      <!-- Payment Method 1 -->
                      <div class="col">
                          <a href="#" class="payment-method" data-method="method1">
                              <img src="{% static 'assets/img/afr.jpeg' %}" alt="Payment Method 1" class="img-fluid" style="border-radius: 5px;">
                          </a>
                      </div>
                      <!-- Payment Method 2 -->
                      <div class="col">
                          <a href="#" class="payment-method" data-method="method2">
                              <img src="{% static 'assets/img/orange.jpeg' %}" alt="Payment Method 2" class="img-fluid" style="border-radius: 5px;">
                          </a>
                      </div>
                  </div>
          
                  <div id="phoneInputAndCheckout" style="display:none; padding-top: 10px;" class="form-group mb-3">
                      <input type="number" id="phoneNumber" placeholder="Enter Phone Number">
                      <input id="confirmCheckout" type="submit" class="boxed-btn black" value="Check Out">
                  </div>
              </form>
          </div>
          
          

          </div>
				</div>

			</div>
		</div>
	</div>

<script>
  document.querySelectorAll('.payment-method').forEach(function(method) {
      method.addEventListener('click', function(event) {
          event.preventDefault();
          document.getElementById('phoneInputForm').style.display = 'flex';
      });
  });

  document.getElementById('confirmCheckout').addEventListener('click', function() {
      var phoneNumber = document.getElementById('phoneNumber').value;
      if(phoneNumber) {
          // Here you can add an AJAX request to backend to process payment and clear cart
          alert("Checkout Successful");
          // Optionally, redirect to a different page or refresh the page
          location.reload(); // This will reload the page. Replace with appropriate redirection if needed.
      } else {
          alert("Please enter your phone number");
      }
  });
</script>


          <!-- Edit Cart Item Modal Placeholder -->
          <div class="modal fade" id="editCartItemModal" tabindex="-1" role="dialog" aria-labelledby="editCartItemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editCartItemModalLabel">Edit Cart Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form will be loaded here dynamically -->
                    </div>
                </div>
            </div>
          </div>
  
  

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

    <!-- Checkout Button -->

<!-- Payment Modal -->
<!-- <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Select Payment Method</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="paymentForm">
         
          <select class="form-control" name="payment_type" id="paymentType">
            <option value="visa">Visa Card</option>
            <option value="atm">ATM</option>
            <option value="bank_transfer">Bank Transfer</option>
            <option value="orange_money">Orange Money</option>
            <option value="afri_money">Afri Money</option>
          </select>
        </form>
      </div>

       
       <div id="phoneNumberSection" style="display: none;">
        <label for="phoneNumber">Phone Number:</label>
        <input class="quantity-field">
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="confirmPayment">Confirm</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Payment Confirmation Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalLabel">Confirm Payment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to make the payment?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <!-- <button type="button" class="btn btn-primary" id="confirmPayment" onclick="window.location.href='/canteen/generate_receipt/{{ order.id }}/'">Confirm</button> -->

          
        </div>
      </div>
    </div>
  </div>
  


<script>

document.querySelectorAll('.payment-method').forEach(function(method) {
    method.addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('phoneInputAndCheckout').style.display = 'block';
    });
});

  document.addEventListener('DOMContentLoaded', function() {
      var paymentTypeDropdown = document.getElementById('paymentType');
      var phoneNumberSection = document.getElementById('phoneNumberSection');

      // Show/hide phone number section based on payment type
      paymentTypeDropdown.addEventListener('change', function() {
          var paymentType = paymentTypeDropdown.value;
          if (paymentType === 'orange_money' || paymentType === 'afri_money') {
              phoneNumberSection.style.display = 'block';
          } else {
              phoneNumberSection.style.display = 'none';
          }
      });

      var confirmButton = document.getElementById('confirmPayment');
      if (confirmButton) {
          confirmButton.addEventListener('click', function() {

              var phoneNumber = document.getElementById('phoneNumber');
              var confirmPayment = confirm('Are you sure you want to make payment for the items?');
              if (confirmPayment) {
                  // Trigger AJAX call to process payment and generate receipt
                  // On success, show success message and download receipt
                  processPayment(paymentTypeDropdown.value, phoneNumber);
              }
              
          });
      }
  });

  function processPayment(paymentType, phoneNumber = null) {
      // AJAX call to Django view for processing payment and generating receipt
      // On success, show success message and download receipt
      // For example purposes, a simple success alert is used here
      alert('Payment successful! Your receipt is being downloaded.');
      // Trigger download of receipt
  }

    document.getElementById('confirmPayment').addEventListener('click', function() {
      // Close the modal
      $('#paymentModal').modal('hide');

      // Assuming order_id is available in your JavaScript context.
      // Redirect to the Django view for receipt generation
      // window.location.href = `/generate_receipt/${order_id}/`;
    });

</script>

{% endblock content %}
